{% extends "ecommerce/base.html" %}

{% load staticfiles %}
{% block content %}
<!-- Custom styles for this template -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
	<link href="{% static "ecommerce/orderstyle.css" %}" rel="stylesheet">
{% if loggedin %}
<div class="container">
        <div class="col-sm-12">
                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Order Summary</h1>
                            <div class="cta-desc">
                                <p>{{order.orderid}}</p>
								<p>£{{order.total}}</p>
                                <p>{{paymentmethod.cardnumber}}</p>
                                <p>{{address.addressline1}}</p>
								<p>{{address.addressline2}}</p>
								<p>{{address.city}}</p>
								<p>{{address.country}}</p>
								<p>{{address.postcode}}</p>
								{% for Basket in products %}
								<p>{{Basket.Name}}</p>
								<p>{{Basket.Description}}</p>
								<p>{{Basket.Price}}</p>
								{% endfor %}
                            </div>
                        </div>
                     </div>
                </div>
        </div>
    </div>	
{% else %}
Log inn dizzy youte
{% endif %}
{% endblock %}
