{% extends "ecommerce/base.html" %}

{% load staticfiles %}

{% block content %}
<!-- Custom styles for this template -->
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
	  <div class="row">
		{% for Product in oldProducts %}
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>{{ Product.Name }}</h2>
          <p>{{ Product.Price }} </br> {{ Product.Description }}</p>
          <p><a class="btn btn-default" href="#" role="button">Add To Basket &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
		{% endfor %}
		</div><!-- /.row -->




<span class='info'>&#8658; You must be logged in to view this page.</span>
<br>
<br>
<br>
<span class='main'>
	Welcome to {{ appname }}, please sign up and/or log in to join in.
</span>
<br>
{% endblock %}
