{% extends "ecommerce/base.html" %}

{% load staticfiles %}
{% block content %}
<!-- Custom styles for this template -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
	<link href="{% static "ecommerce/orderstyle.css" %}" rel="stylesheet">
{% if loggedin %}
<div class="container">
        <div class="col-sm-12">
		{% for Order in allOrders %}
                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Order number: {{ Order.orderid }}</h1>
                            <div class="cta-desc">
                                <p>Date of Order: {{Order.date}}</p>
                                <p>Total price: £{{Order.total}}</p>
								<h3>Address</h3>
                                <p>{{address.addressline1}}</p>
		                        <p>{{address.addressline2}}</p>
								<p>{{address.city}}</p>
								<p>{{address.country}}</p>
								<p>{{address.postcode}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 cta-button">
							<form method='POST' action="{% url 'ecommerce:orderproducts' %}">
							{% csrf_token %}
							<input type="hidden" name="orderid" value="{{ Order.orderid }}">
							<button class="btn btn-lg btn-block btn-default" type="submit">View products</button>
							</form>
                        </div>
                     </div>
                </div>
		{% endfor %}
        </div>
    </div>	
{% else %}
Not Logged in
{% endif %}
{% endblock %}
