{% extends "ecommerce/base.html" %}

{% load staticfiles %}
{% block content %}
<!-- Custom styles for this template -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
	<link href="{% static "ecommerce/orderstyle.css" %}" rel="stylesheet">
{% if loggedin %}
<div class="container">
        <div class="col-sm-12">
		{% for Order in allOrders %}
                <div class="bs-calltoaction bs-calltoaction-default">
                    <div class="row">
                        <div class="col-md-9 cta-contents">
                            <h1 class="cta-title">Order Summary</h1>
                            <div class="cta-desc">
                                <p>{{order}}</p>
                                <p>{{paymentmethod}}</p>
                                <p>{{address}}</p>
								<p>{{products}}</p>
                            </div>
                        </div>
                     </div>
                </div>
		{% endfor %}
        </div>
    </div>	
{% else %}
Log inn dizzy youte
{% endif %}
{% endblock %}
