{% extends "ecommerce/base.html" %}

{% load staticfiles %}
{% block content %}
<!-- Custom styles for this template -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
	<link href="{% static "ecommerce/orderstyle.css" %}" rel="stylesheet">
{% if loggedin %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<div class="invoice-title">
    			<h2>Order #{{order.orderid}}</h2>
    		<hr>	
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Shipped To:</strong><br>
    					{{address.addressline1}}<br>
    					{{address.addressline2}}<br>
						{{address.city}}<br>
						{{address.country}}<br>
    					{{address.postcode}}
    				</address>
    			</div>
    		</div>
    		
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>{{order.date}}</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Product</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
								{% for Basket in products %}
    							<tr>
    								<td class="col-md-3">
    								    <div class="media">
    								         <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/ecommerce/{{Basket.Image}}" style="width: 72px; height: 72px;"> </a>
    								         <div class="media-body">
    								             <h4 class="media-heading"> {{Basket.Name}}</h4>
    								         </div>
    								    </div>
    								</td>
    								<td class="text-center">{{Basket.Price}}</td>
    							</tr>
								{% endfor %}
                                
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
         <div class="col-md-12">
            <div class="col-md-4">
            	<h3 class="text-center">Order Summary</h3><hr>
            	<div class="pull-left"><h4>Subtotal</h4> </div>
            	<div class="pull-right"><h4 class="text-right">$11.99</h4></div>
            	<div class="clearfix"></div>
            	<div class="pull-left"><h4>Tax</h4> </div>
            	<div class="pull-right"><h4 class="text-right">$1.99</h4></div>
            	<div class="clearfix"></div>
            	<div class="pull-left"><h4>Order Total</h4> </div>
            	<div class="pull-right"><h4 class="text-right">{{order.total}}</h4></div>
            	<div class="clearfix"></div>
        	</div>
        	<div class="col-md-4 offset-md-1">
            	<h3 class="text-center">Payment Type</h3><hr>
            	<div class="text-center">
            	    <strong>Paid by Credit Card</strong><br>
            	 </div>
        	</div>
        	<div class="col-md-4 offset-md-2">
            	<h3 class="text-center">Other Info</h3><hr>
            	<address>
            	    <strong>Billed To:</strong><br>
            	    John Smith<br>
            	    1234 Main<br>
            	    Apt. 4B<br>
            	    Springfield, ST 54321
            	 </address>
        	</div>
    	</div>
    </div>
</div>
{% else %}
Log inn dizzy youte
{% endif %}
{% endblock %}
