{% extends "ecommerce/base.html" %}

{% load staticfiles %}
{% block content %}
<!-- Custom styles for this template -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static "ecommerce/signin.css" %}" rel="stylesheet">
	<link href="{% static "ecommerce/orderstyle.css" %}" rel="stylesheet">
{% if loggedin %}
<h2 class="text-center">Payment Successful! Your items have been ordered.</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<div class="invoice-title">
    			<h2>Order #{{order.orderid}}</h2>
    		<hr>	
    		</div>
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
    				<strong>Shipped To:</strong><br>
    					{{address.addressline1}}<br>
    					{{address.addressline2}}<br>
						{{address.city}}<br>
						{{address.country}}<br>
    					{{address.postcode}}
    				</address>
    			</div>
    		</div>
    		
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Date of order: {{order.date}}</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Product</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
								{% for Basket in products %}
    							<tr>
    								<td class="col-md-3">
    								    <div class="media">
    								         <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/ecommerce/img/{{Basket.Image}}" style="width: 72px; height: 72px;"> </a>
    								         <div class="media-body">
    								             <h4 class="media-heading"> {{Basket.Name}}</h4>
    								         </div>
    								    </div>
    								</td>
    								<td class="text-center">£{{Basket.Price}}</td>
    							</tr>
								{% endfor %}
                                
    						</tbody>
    					</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    
    <div class="row">
         <div class="col-md-12">
            <div class="col-md-4">
            	<h3 class="text-center">Order Summary</h3><hr>
            	<div class="clearfix"></div>
            	<div class="pull-left"><h4>Payment Type:</h4> </div>
            	<div class="pull-right"><h4 class="text-right">Paid by Credit Card</h4></div>
				</br>
				</br>
				<div class="pull-left"><h4>Cardholder's Name:</h4> </div>
            	<div class="pull-right"><h4 class="text-right">{{paymentmethod.cardholdername}}</h4></div>
				</br>
				</br>
				<div class="pull-left"><h4>Used card number:</h4> </div>
            	<div class="pull-right"><h4 class="text-right">{{paymentmethod.cardnumber}}</h4></div>
				</br>
				</br>
				<div class="pull-left"><h4>Order Total:</h4> </div>
            	<div class="pull-right"><h4 class="text-right">£{{order.total}}</h4></div>
            	<div class="clearfix"></div>
        	</div>
    	</div>
    </div>
</div>
{% else %}
Not Logged in
{% endif %}
{% endblock %}
